.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-logo {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .fa-typo3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .fa-typo3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-logo {
    transform: translate(20%, 45%);
    font-size: 1.2rem;
  }
}
