.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -15px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.logo-image {
  height: 100px;
  width: auto;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .logo-image {
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .logo-image {
    height: 60px;
  }
}

