.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 70px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    height: 60px;
    font-size: 0.9rem;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  max-width: 1500px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    width: 70vw;
    margin-right: 1.5rem;
    grid-gap: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    grid-template-columns: repeat(2, auto);
    width: 90vw;
    margin-right: 1rem;
  }
}

.nav-item {
  height: 80px;
}

@media screen and (max-width: 768px) {
  .nav-item {
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .nav-item {
    height: 50px;
  }
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .nav-links {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    height: 85vh;
    top: 60px;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  .fa-times {
    font-size: 1.6rem;
  }

  .nav-links-mobile {
    font-size: 1.2rem;
    padding: 12px 18px;
  }
}

@media screen and (max-width: 480px) {
  .nav-menu {
    height: 80vh;
    top: 50px;
  }

  .menu-icon {
    font-size: 1.2rem;
    transform: translate(-80%, 50%);
  }

  .fa-times {
    font-size: 1.4rem;
  }

  .nav-links {
    padding: 1.5rem;
  }

  .nav-links-mobile {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 1.5rem auto;
  }
}